<div class="col-10 mx-auto mt-3">
  <div class="col-12 text-center">
    <span>The</span>
    <h1 class="m-none" style="line-height: .8">Covid-19 Data Bot</h1>
    <h4 class="pb-3 m-none"><em>Data Made Easy</em></h4>
  </div>
  <div class="d-flex m-auto">
    <div class="col-5 border-right">
      <%= render 'shared/about_me' %>
    </div>
    <div class="col-7">

    </div>
  </div>
</div>
