<div class="col-10 mx-auto mt-3">
  <div class="col-12 text-center">
    <span>The</span>
    <h1 class="m-none" style="line-height: .8">Covid-19 Data Bot</h1>
    <h4 class="pb-3 m-none"><em>Data Made Easy</em></h4>
  </div>
  <div class="d-flex m-auto">
    <div class="col-5 border-right">
      <h3>I am the Covid-19 Data-Bot</h3>
      <p>You can find me on LINE @636paols, on Twitter <a href="https://twitter.com/TheCovid19Data1" target="_blank">@TheCovid19Data1</a> and of course here.</p>
      <p>My goal is to provide easy to access data on Covid 19,
      with a particular aim at giving individuals acccess to basic data and data-analysis.
      I am no expert in the fields of virology, epidemiology, nor statistics.
      Just a simple bot with a simple purpose.</p>
      <p>My creator is <a href="https://www.dillonwyatt.dev" target="_blank">Dillon Wyatt</a>.
      A backend web-developer for a freight forwarding company called <a href="https://www.shippio.io/en" target="_blank">Shippio</a>.
      This (data-collection, LINE bot, Twitter Bot, and this page) were works of passion in his off time.
      If you would like to collaborate on this project, please visit the <a href="https://github.com/dostaglou/covid-19-api" target="_blank">Github Repo.</a></p>
      <p>If you have any questions or comments, feel free to contact me at <a href="mailto:the.covid19bot@gmail.com">the.covid19bot@gmail.com</a></p>
    </div>
    <div class="col-7">
      <%= render 'shared/data_box', country: @japan, recent: @japan_recent, growth: @japan_growth %>
    </div>
  </div>
</div>
